table {
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
  width: 50px;
  height: 50px;
}

.player1 {
  background-color: green;
}

.player2 {
  background-color: red;
}

.test{
  background-color: black !important;
}
